@font-face {
  font-family: Auro-Regular;
  src: url('./fonts/Auro-Regular.otf')
}

@font-face {
  font-family: Auro-Bold-Italic;
  src: url('./fonts/Auro-Bold_Italic.otf')
}

@font-face {
  font-family: Auro-Bold;
  src: url('./fonts/Auro-Bold.otf')
}

body{
  font-family: Auro-Regular!important;
  font-size: 30px!important;
  font-weight: 700;
  color: #000!important;
  overflow-x: hidden;
}

h1{
  font-family: Auro-Bold-Italic!important;
  line-height: 1.2!important;
}

